<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contacts Page</title>
</head>

<body>
    {{> header}}
    <div>
        <h1>This is HBS Contacts Page</h1>
        <table>
            <tr>
                <td>Broj tel</td>
                <td>{{phoneNumber}}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{email}}</td>
            </tr>
        </table>
    </div>
    {{> footer}}
</body>

</html>